---
import IndexLayout from "../layouts/Index Layout.astro";
import Image_ctp from "../assets/ctp.png";
import Image_mo from "../assets/misty_ore.jpg";
const title = "Main";
const mods = [
  {
    id: "mod-ctp-001",
    title: "Crafting Table Plus",
    image: Image_ctp.src,
    description: "This mod will help you to create some items that cannot be crafted on the crafting table.",
    url: "/mods/crafting-table-plus"
  },
  {
	id: "mod-misty-ore-002",
	title: "Misty Ore",
	image: Image_mo.src,
	description: "Misty Ore, This mod adds several new ores for a new experience in the game. Some ores can be used to craft tools and armor.",
	url: "/mods/misty-ore"
  }
];
---

<IndexLayout title={title}>
  <div class="main-container">
    {mods.map(mod => (
      <div class="container-1" data-mod-id={mod.id}>
        <h1 class="title">{mod.title}</h1>
        <div class="container-img">
          <img src={mod.image} alt={mod.title} width="80" height="80" class="img" />
        </div>
        <div class="description">
          <p>{mod.description}</p>
        </div>
        <div class="container-button">
          <a href={mod.url} target="_blank">
            <button>Visit Page</button>
          </a>
        </div>
      </div>
    ))}
  </div>
</IndexLayout>

<style>
	* {
		margin: 0;
		padding: 0;
	}

	.main-container {
		display: flex;
		flex-wrap: wrap;
	}
	
	.container-1 {
		background-color: gray;
		display: flex;
		flex-direction: column;
		margin: 6px;
		padding: 3px;
		width: 200px;
	}

	.title {
		text-align: center;
		word-break: break-word;
	}

	.container-img {
		margin: 4px;
		display: flex;
		justify-content: center;
	}

	.img {
		background-color: #0e0d0dda;
	}

	h1 {
		font-size: large;
	}

	.description p {
		word-break: break-word;
	}
	
	.description {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 200px;
	}
	
	.container-button {
		display: flex;
		justify-content: center;
	}
	
	button {
		cursor: pointer;
		background-color: #0e0d0dda;
		color: white;
		padding: 2px;
	}
	
	@media (max-width: 768px) {

		.main-container {
			display: flex;
			flex-wrap: wrap;
		}

		.container-1 {
			background-color: gray;
			display: flex;
			flex-direction: column;
			margin: 6px;
			padding: 3px;
			width: 162px;
		}

		.title {
			text-align: center;
			word-break: break-word;
		}
		
		.description p {
			word-break: break-word;
		}

		.description {
			align-items: center;
			display: flex;
			justify-content: center;
			width: 162px;
		}
	}

</style>