---
import MOLayout from "./layouts/Mo Layout.astro";
import modrinth from "./assets/modrinth.png";
import curseforge from "./assets/curseforge.png";
const title = 'Main';

// if (Astro.request.method === "POST") {
//     const formData = await Astro.request.formData();
//     const user_name = formData.get("user_name");
//     const user_comment = formData.get("user_comment");
//     const data = {user_name, user_comment};

//     const response = await fetch("http://localhost:4320/", {
//         method: "POST",
//         body: JSON.stringify(data),
//         headers: {
//             "Content-Type": "application/json",
//         },
//     });
// }
// const response = await fetch("http://localhost:4320/api/reaction/datas/data");
// const reactions = await response.json();
---


<MOLayout title={title}>
    <div class="container">
        <div class="title">
            <h1>Main</h1>
        </div>
    </div>
    <div class="container-h2">
        <h2>
            What's Misty Ore ?
        </h2>
    </div>
    <div class="container-teks">
        <p>
            Misty Ore is a mod for Minecraft java edition.
        </p>
        <p>
            Misty Ore, This mod adds several new ores for a new experience in the game. Some ores can be used to craft tools and armor.
        </p>
        <p>
            We created this mod to add a variety of new ores, items, tools, and armor.  To add to the experience of playing in the world of minecraft becomes more fun.   
        </p>
    </div>
    <div class="container-h2">
        <h2>
            How is Misty ore created ?
        </h2>
    </div>
    <div class="container-teks">
        <p>
            The Misty Ore mod is created by adding scripts to several files that have been included in the Minecraft Development Kit, such as scripts, assets, and the addition of json files.
        </p>
        <p>
            This mod is built using the Forge framework.
        </p>
    </div>  
    <div class="container-h2">
        <h2>
            How often does Misty Ore update version ?
        </h2>
    </div>
    <div class="container-teks">
        <p>
            For version updates, every two weeks or once a month.
        </p>
        <p>
            Regarding the mod version update, it is actually not always in line with what was mentioned above, because if we have a new project, the update may be delayed.   
        </p>
    </div>  
    <div class="container-h2">
        <h2>
            craft        </h2>
    </div>

    <div class="container-teks">
        <div class="version-new">
            <h3>Version: 0.2.1</h3>
        </div>
        <h4>
            New
        </h4>
        <h5>
            Items :
        </h5>
        <div class="craft">
            <ul>
                <li>Black Bone Ingot</li>
                <li>Black Silver Ingot</li>
                <li>Raw Silver</li>
                <li>Silver Ingot</li>
                <li>Silver Coin</li>
                <li>Silver Plate</li>
            </ul>
        </div>
        <h5>
            Blocks :
        </h5>
        <div class="craft">
            <ul>
                <li>Black Bone Ore</li>
                <li>Black Bone Block</li>
                <li>Silver Ore</li>
                <li>Silver Block</li>
            </ul>
        </div>
        <h5>
            Armors :
        </h5>
        <div class="craft">
            <ul>
                <li>Black Silver Helmet</li>
                <li>Black Silver Chestplate</li>
                <li>Black Silver Leggings</li>
                <li>Black Silver Boots</li>
            </ul>
        </div>
        <h5>
            Tools :
        </h5>
        <div class="craft">
            <ul>
                <li>Black Silver Sword</li>
            </ul>
        </div>
    </div>

    <div class="container-teks">
        <div class="version">
            <h3>Version: 0.1.1</h3>
        </div>
        <h4>
            New
        </h4>
        <h5>
            Items :
        </h5>
        <div class="craft">
            <ul>
                <li>Amethyst</li>
                <li>Shadowite</li>
                <li>Mystic Glowstone</li>
            </ul>
        </div>
        <h5>
            Blocks :
        </h5>
        <div class="craft">
            <ul>
                <li>Amethyst Ore</li>
                <li>Shadowite Ore</li>
                <li>Amethyst Block</li>
            </ul>
        </div>
        <h5>
            Armors :
        </h5>
        <div class="craft">
            <ul>
                <li>Mystic Glowstone Helmet</li>
                <li>Mystic Glowstone Chestplate</li>
                <li>Mystic Glowstone Leggings</li>
                <li>Mystic Glowstone Boots</li>
            </ul>
        </div>
        <h5>
            Tools :
        </h5>
        <div class="craft">
            <ul>
                <li>Shadowite Sword</li>
                <li>Shadowite Axe</li>
                <li>Shadowite Pickaxe</li>
                <li>Shadowite Hoe</li>
                <li>Shadowite Shovel</li>
            </ul>
        </div>
    </div>      
    <div class="container-h2">
        <h2>Download Misty Ore mod</h2>
    </div>
    <div class="container-teks">
        <div class="container-downloads">
            <div class="container-download">
                <p class="teks-download">Download at Modrinth</p>
                <div class="download-button">
                    <img src={modrinth.src} alt="Modrinth icon" class="icon-modrinth">
                    <a href="https://modrinth.com/mod/misty-ore/version/0.1.1" 
                    class="url-modrinth" target="_blank">
                        <button class="modrinth">Modrinth</button>
                    </a>
                </div>
            </div>
            <div class="container-download">
                <p class="teks-download">Download at Curse Forge</p>
                <div class="download-button">
                    <img src={curseforge.src} alt="Curse Forge Icon" class="icon-curseforge">
                    <a href="https://www.curseforge.com/minecraft/mc-mods/misty-ore"
                    class="url-curse" target="_blank">
                        <button class="curse">Curse Forge</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-h2">
        <h2>Create A Comment</h2>
    </div>
    <div class="container-teks">
        <div class="container-form">
        <form method="POST" action="/mods/crafting%20table%20plus">
            <input type="text" placeholder="enter a name..." class="name" name="user_name" required>
            <textarea placeholder="type a comment..." class="comment" name="user_comment" required></textarea>
            <button type="submit" class="post">post</button>
        </form>
        </div>
    </div>
    <div class="container-h2">
        <h2>All Comments</h2>
    </div>
    <div class="container-teks">
        {reactions?.getReactions?.data.map((reaction: {user_name: unknown; user_comment: unknown; }) => {
            return (
            <div class="container-1">
                <h4 class="user_name">{reaction.user_name}</h4>
                <p class="user_comment">{reaction.user_comment}</p>
                <Line/>
            </div>     
            )
        })}
    </div> -->
</MOLayout>

<style>
    /* .comment {
        padding: 4px;
        height: 100px;
    } */

    /* .container-form {
        justify-content: left;
        align-items: normal;
        display: flex;
    } */

    /* form {
        display: flex;
        flex-direction: column;
        padding: 2px;
    }

    .post {
        font-size: medium;
        cursor: pointer;
    } */

    html {
        scroll-behavior: smooth;
    }

    * {
        margin: 0;
        padding: 0;
    }    
    
    body {
        background-color: #b8b3b3;
        color: black;
    }

    .container {
        background-color: black;
        color: rgb(255, 255, 255);
    }

    .title {
        text-align: center;
    }

    h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
        padding: 2px;
    }

    .container-h2 {
        margin-top: 8px;
        margin-left: 6px;
        background-color: rgb(53, 52, 52);
        border: 1px solid rgb(0, 0, 0);
        width: 250px;
    }

    h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: larger;
        text-align: center;
        color: white;
    }
    
    .container-teks {
        margin: 0px 6px;
        border: 1px solid rgb(83, 85, 85);
    }

    .container-downloads {
        display: flex;
    }
    
    .container-download {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 2px 6px;
    }
    
    .version-new {
        background-color: black;
        color: rgb(125, 129, 127);
        border: 1px solid rgb(94, 95, 95);
        width: 112px;
    }

    .version {
        background-color: black;
        color: white;
        border: 1px solid rgb(69, 71, 70);
        width: 112px;
    }

    h3 {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
    

    h4 {
        margin: 0px 6px;
        font-size: large;
    }

    h5 {
        margin: 0px 12px;
        font-size: large;
        color: rgb(54, 53, 53);
    }

    p {
        text-align: justify;
        margin: 4px 6px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .craft {
        margin: 0px 50px;
    }

    a {
        margin: 0px 6px;
    }

    .modrinth, .curse {
        margin: 4px 0px;
        background-color: #0e0d0dda;
        color: white;
    }

    .icon-modrinth {
        width: 70px;
        height: 70px;
        margin: 0px 6px;
    }

    .icon-curseforge {
        width: 115px;
        height: 70px;
        margin: 0px 6px;
    }

    .modrinth:hover {
        cursor: pointer;
        background-color: green;
    }

    .curse:hover {
        cursor: pointer;
        background-color: rgb(204, 53, 7);
    }

    .url-modrinth, .url-curse {
        display: flex;
        justify-content: center;
    }   

    .teks-download {
        text-align: justify;
    }
    
    .download-button {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    @media (max-width: 790px) {
        .container-downloads {
            flex-direction: column;
            display: flex;
            justify-content: center;
        }
        
        .container-download {
            justify-content: center;
        }
        
        .teks-download {
            text-align: center;
        }

        .download-button {
            justify-content: center;
        }

        .url-curse, .url-modrinth {
            justify-content: center;
        }
    }
</style> 